* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to left, #ad9997, #a0abca);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .calculator {
    width: 470px;
    height: auto;
    margin: 150px auto;
    border-radius: 20px;
    padding: 0px;
  }
  
  .display {
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
    word-wrap: break-word;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
  }
  
  .button {
    border: none;
    padding: 28px 30px;
    width: 24.1%;
    margin: 2px 2px;
    font-size: 30px;
  }
  
  .zero-btn {
    padding: 30px 211px 26px 20px;
    border-bottom-left-radius: 20px;
  }

  .last-btn {
    border-bottom-right-radius: 20px;
  }

  .toggle {
    padding: 4px;
  }

  .toggle:hover{
    cursor: pointer;
  }

  .toggle:hover div{
    background-color: orange;
  }

  .toggle div{
    height: 20px;
    width: 20px;
    margin: 5px 6px;
    background-color: aliceblue;
    border-radius: 50%;
  }

  