  
  body {
    background:rgba(181, 214, 234, 0.601);
  }

  .calculator {
    background-color:rgba(255, 236, 245, 0.99);
    box-shadow: rgba(29, 74, 93, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .display {
    color: black;
  }
  
  .button {
    border: none;
    color: black;
    background-color: rgb(196, 186, 186);
  }

  .btn-orange {
    background-color: rgb(226, 97, 157);
  }
  
  .btn-grey {
    background-color: rgba(204, 199, 199, 0.618);
  }

  .toggle:hover div{
    background-color: rgb(226, 97, 157);
    border: 5px;
    border-color: black;
  }

  .toggle div{
    background-color: black;
  }

  